*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* ---------------------------------------------- */
.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  gap: 30px;
  inline-size: inherit;
}

.result {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 3px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border: none;
}

.search-form__fieldset:not(:first-child) {
  margin-bottom: 5px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 1px;
  align-items: center;
}

:is(.search-form__label:has(input[type="checkbox"]), .button):hover {
  text-decoration: underline;
}

.search-form__textfield {
  appearance: none;
  min-width: 225px;
  min-height: 27px;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.search-form__checkbox:checked + span {
  background-color: #fff;
  box-shadow: inset 0 0 0 1px black;
}

.search-form__pseudo-checkbox {
  display: block;
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
}

.button {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid currentColor;
  background-color: transparent;
  min-height: 34px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: double;
  border: none;
}

.button:active {
  background: #545050;
}

.search-form__submit-button {
  width: 194px;
}

.content__details {
  block-size: 100%;
  inline-size: 399px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
}

.title {
  color: #fff;
  font-family: "Oswald";
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 298px;
  overflow: auto;
  position: relative;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.content__list-item {
  padding: 1px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  padding-top: 2px;
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.content__video-card-description-container :is(h2, p) {
  width: fit-content;
}

.content__card-link:hover :is(h2, p) {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description {
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 16.2px */
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  max-height: 65px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  margin-bottom: 3px;
}

.more-button:focus-visible {
  width: calc(100% - 6px);
  margin: 0 3px 3px 3px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
