*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/* ---------------------------------------------- */
.content {
  block-size: 534px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  inline-size: inherit;
}
.result {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}
.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}
.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset:not(:first-child) {
  margin-bottom: 5px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 1px;
  align-items: center;
}

:is(.search-form__label:has(input[type="checkbox"]), .button):hover {
  text-decoration: underline;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  height: 27px;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:has(:active) {
  outline: 1px solid #fff;
}

.search-form__textfield:active {
  border-top: none;
  border-bottom: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox:checked + span {
  background-color: #fff;
  box-shadow: inset 0 0 0 1px black;
}

.search-form__pseudo-checkbox {
  display: block;
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
}

.button {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  background-color: transparent;
  height: 34px;
  margin: 3px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: double;
  border: none;
}

.button:active {
  background: #545050;
}

.search-form__submit-button {
  width: 194px;
}

.content__details {
  block-size: 100%;
  inline-size: 399px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 26px;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 298px;
  overflow-y: scroll;
  position: relative;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item {
  padding: 1px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 26px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  padding-top: 4px;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
}

.content__video-card-description-container * {
  display: inline-block;
  width: fit-content;
}

.content__card-link:hover :is(h2, p) {
  border-bottom: 1px solid #fff;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 16.2px */
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.more-button {
  width: calc(100% - 6px);
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
